@model dog_club.Models.Role

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Добавление новой роли</h2>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="name" class="form-label">Название</label>
        <input type="text" name="name" asp-for="name" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>