@using dog_club.Models
@model Role

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Редактирование</h2>
<form method="post">

    <div class="mb-3">
        <label asp-for="id" class="form-label">ID</label>
        <input type="number" name="id" asp-for="id" class="form-control" value="@Model.id" disabled>
    </div>

    <div class="mb-3">
        <label asp-for="name" class="form-label">Название</label>
        <input type="text" name="name" asp-for="name" class="form-control" value="@Model.name" required>
    </div>

    <button type="submit" class="btn btn-primary">Изменить</button>
</form>