@using dog_club.Models
@model IEnumerable<Group>

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Добавление новой пароды </h2>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="nameBreed" class="form-label">Наименование</label>
        <input type="text" name="nameBreed" asp-for="nameBreed" class="form-control" required>
    </div>

    <div class="mb-3">
        <select class="form-select" name="GroupId">
            @{
                foreach (Group group in Model)
                {
                    <option value="@group.id">@group.nameGroup</option>
                }
            }
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>

</form>