@model dog_club.Models.Owner

@{
    Layout = "_Layout";
    @Html.Partial("_menuProfile")
}
<h2>Добавление нового владельца</h2>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="fullName" class="form-label">ФИО</label>
        <input type="text" name="fullName" asp-for="fullName" class="form-control" required>
    </div>

    <div class="mb-3">
        <label asp-for="address" class="form-label">Адрес</label>
        <input type="text" name="address" asp-for="address" class="form-control" required>
    </div>

    <div class="mb-3">
        <label asp-for="phone" class="form-label">Телефон</label>
        <input type="text" name="phone" asp-for="phone" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>